<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467909512360-al4bcrtst4pvrq674r20p2kocu3105o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467909512360-al4bcrtst4pvrq674r20p2kocu3105o3</string>
	<key>API_KEY</key>
	<string>AIzaSyDaFEYOaxBcASgb4LVZ_INW-RzqtyFTazo</string>
	<key>GCM_SENDER_ID</key>
	<string>467909512360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dollarBill</string>
	<key>PROJECT_ID</key>
	<string>moolah-12352</string>
	<key>STORAGE_BUCKET</key>
	<string>moolah-12352.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467909512360:ios:d08bd391d347af2cefc69d</string>
</dict>
</plist>